<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%=title%></title>
</head>
<body>
  <h1>Hola mundo!</h1>
  <h2>Mi información personal:</h2>
  <ul>
    <li><strong>Nombre:</strong> <%= info.nombre %></li>
    <li><strong>Apellido:</strong> <%= info.apellido %></li>
    <li><strong>Cédula:</strong> <%= info.cedula %></li>
    <li><strong>Sección:</strong> <%= info.seccion %></li>
  </ul>
  
</body>
</html>
