<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%=title%></title>
  <link rel="stylesheet" href="/css/styles.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>

<body>
    <!-- Barra de navegación -->
    <%- include('./partials/header') %>

    <!-- Hero Section -->
    <section class="hero" id="inicio">
        <div class="hero-content">
            <h2>Transporte Escolar <span>Seguro y Confiable</span></h2>
            <p>Llevamos a tus hijos al colegio con puntualidad, seguridad y comodidad</p>
            <a href="#contacto" class="btn">Solicitar Información</a>
        </div>
    </section>

    <!-- Servicios -->
    
    <%- include('./pages/servicios') %>
    
    <!-- Beneficios -->
    
    <%- include('./pages/beneficios') %>
    
    

    <!-- Flota -->
     
    <%- include('./pages/flota') %>


    <!-- Testimonios -->    
    
    <%- include('./pages/testimonios') %>



    <!-- Contacto -->    
    
    <%- include('./pages/contactos') %>

  

    <!-- Footer -->
    <%- include('./partials/footer') %>

</body>
</html>
